<footer class="page-footer teal">
	<div class="container">
		<div class="row">

			<div class="col l2 m2 s12">
				<img src="assets/images/logo-2.png" style="width:100%;height:auto;margin-top:1em;">
			</div>

			<div class="col l8 m8 s12 unach-footer">
				<h4 class="center teko">UNIVERSIDAD AUTÓNOMA DE CHIAPAS</h4>
				<p class="center teko">Facultad de Medicina Humana "Dr. Manuel Velasco Suárez"</p>
				<p class="center dancing-script">"Por la conciencia de la necesidad de servir"</p>
			</div>

			<div class="col l2 m2 s12">
				<img src="assets/images/logo-1.png" style="width:100%;height:auto;">
			</div>
			
		</div>
	</div>
	<div class="footer-copyright teal darken-3">
		<div class="container">
			© 2019 ANIMALMEDIC
			<a class="grey-text text-lighten-4 right" href="/contacto">ÚNETE AL EQUIPO</a>
		</div>
	</div>
</footer>