<header>
	<nav>
		<div class="nav-wrapper teal">
			<div class="container">
				<a href="#!" class="brand-logo teko">ANIMALMEDIC</a>
			</div>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fa fa-bars"></i></a>
 			<ul class="right hide-on-med-and-down">
				<li><a href="/blog">ARTÍCULOS</a></li>
				<li><a class="dropdown-trigger" href="#" data-target="dropdown1">MULTIMEDIA <i class="fa fa-caret-square-o-down"></i></a></li>
				<li><a href="/recomendaciones">RECOMENDACIONES</a></li>
				<li><a href="/contacto">CONTÁCTANOS</a></li>
			</ul>
		</div>
	</nav>
	<ul class="sidenav" id="mobile-demo">
		<li><a href="/blog">ARTÍCULOS</a></li>
		<li><a href="/blog">MULTIMEDIA</a></li>
		<li><a href="/recomendaciones">RECOMENDACIONES</a></li>
		<li><a href="/contacto">CONTÁCTANOS</a></li>
	</ul>
<script type="text/javascript">
$(document).ready(function(){
	$('.sidenav').sidenav();
});
</script>
	<ul id="dropdown1" class="dropdown-content">
		<li><a href="/multimedia/podcast">PODCAST</a></li>
		<li><a href="/multimedia/infografias">INFOGRAFÍAS</a></li>
		<li><a href="/multimedia/entrevistas">ENTREVISTAS</a></li>
		<li><a href="/multimedia/videos">VIDEOS</a></li>
	</ul>
<script type="text/javascript">
$(".dropdown-trigger").dropdown();
</script>
</header>